<strong>Password recover</strong>

<p>An request to recover your password has been made for the email ({{ email }}). If you weren't the author of this request, it would be cool to change your password to ensure your account safety.</p>

<p>To proceed with the password recover, please use the token {{ token }} or click the link below:</p>

<a href="{{ link }}">Create new password</a>