<p>Alô {{ name }},  </p>

<p>Obrigado por criar sua conta conosco!</p>

<p>Não perca tempo, comece a apostar agora! Pra começar, basta clicar no link abaixo:</p>
<a href="http://www.meusistema.com/">Ir para o TGL</a>