<strong>New bet for {{ name }}</strong>

<p>Hello, {{ name }}</p>
<p>Your cart has been successfully purchased and registered in our system.</p>

<p>To check it out, remove any bet or even make more bets, go to our website in your link below:</p>

<a href="http://www.meusistema.com/">Go to TGL</a>