<strong>Nova aposta de {{ name }}</strong>

<p>Olá, {{ name }}</p>
<p>Seu carrinho de apostas foi comprado e registrado com sucesso.</p>

<p>Para conferir, remover alguma aposta ou ainda comprar mais, acesse nosso site clicando no link abaixo:</p>

<a href="http://www.meusistema.com/">Ir para o TGL</a>