<p>Hello, {{ name }}!  </p>

<p>Thank you for registering with us!</p>

<p>Don't waste any time, start betting now! To start, just click the link below:</p>
<a href="http://www.meusistema.com/">Go to TGL</a>